{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="index">
    <div class="info">
      <div class="row text-center">
        <div class="info-first">
          <div class>
            <p>
              Welcome to the App<span class="about-brand-second-part"
                >Rent</span
              >
              Manager!
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="info-second">
          <div class="row text-center">
            <p>
              A property finance management app designed for landlords with
              rental properties. It helps you manage your rental property in a
              convenient and organized way.
            </p>
          </div>
        </div>
      </div>
      <div class="row p-3"></div>
      <div class="row info-second">
        <div class="text-center">
          <h3>Quick guide to using the app:</h3>
        </div>
        <ul>
          <li><strong>Step 1 </strong>Create an account.</li>
          <li>
            <strong>Step 2 </strong>Add a property to your personal dashboard.
          </li>
          <li>
            <strong>Step 3 </strong>Create a rental agreement with all the
            details (e.g., whether bill settlement is included).
          </li>
          <li>
            <strong>Step 4 </strong>Start managing your property:
            <ul class="nested-list">
              <li>update payments,</li>
              <li>add bills,</li>
              <li>check settlements.</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="row text-center">
        <h3>
          We wish you a pleasant experience using the app!
          <i class="fa-solid fa-house me-2 i-icone-dash p-1"></i>
        </h3>
      </div>
      <div class="info-third"></div>
    </div>
  </div>
</div>
{% endblock %}
